<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listener</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <div class="nav-logo">
          <h1>Entendre</h1>
        </div>
        <div class="nav-profile">
          <img
            src="/images/default-user-icon.png"
            alt="Profile Picture"
            class="profile-pic"
          />
        </div>
        <div class="nav-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </nav>
    <div class="table">
      <table>
        <thead class="table-head">
          <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Vote</th>
          </tr>
        </thead>
        <tbody>
          <!--  Create the table using DOM Manipulation where the inputs  -->
          <!-- of the DJ will show up here when they update their setlist -->
        </tbody>
      </table>
    </div>
    <script src="script.js"></script>
  </body>
</html>
