@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --main-color: #351db1;
  --secondary-color: #7752fe;
  --tertiary-color: #8e8ffa;
  --other-color: #c2d9ff;
  --text-color: #fff;
}

body {
  font-family: "REM", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background: linear-gradient(45deg, #351db1, #7752fe);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 30px;
  border-color: var(--tertiary-color);
  color: var(--tertiary-color);
}
.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #8e8ffa;
  border-width: 1px;
  color: white;
  font-family: "REM" l, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  border-color: var(--tertiary-color);
}
.form-group input[type="submit"] {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  cursor: pointer;
}
.form-group input[type="submit"]:hover {
  background-color: var(--tertiary-color);
}

.container #claim {
  color: var(--other-color);
}
.container #login {
  color: var(--text-color);
}

/* Listener Page */
.nav-container {
  max-width: 380px;
  border: 1px solid #ccc;
  border-radius: 30px;
  border-color: var(--tertiary-color);
  color: var(--tertiary-color);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-logo {
  color: var(--other-color);
  font-size: 24px;
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
}
.table {
  width: 100%;
  margin: 25px 0;
  font-size: 18px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#table-item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}
#table-item2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

#table-item3 {
  grid-column-start: 3;
  grid-column-end: 4;
}
